html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background-color: rgb(32, 38, 75);
  padding: 8px 0;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.logo {
  filter: invert(1);
  margin-top: 8px;
}
